.App {
    text-align: center;
}


.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

p {
 font-size: 20px;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #020621;
    min-height: 100vh;
    color: white;
}

.score-page {
    display: flex;
    flex-direction: column;
}

.rounds-preview {
    display: flex;

}
.round {
    width: 20vw;
    margin: 2.25vw;
}

.preview-image {
    height: auto;
    max-width: 100%;
}

.modal-wrapper {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;

}

.webcam-wrapper {
    position: absolute;
    padding: 2rem 5rem;
    margin-top: 5vh;
    z-index: 5;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 300px 75px rgba(0,0,0,0.5);
    color: black;
}

.header-modal {
    color: #020621;
}

input {
    padding: 10rem;
    background-color: rgba(0,0,0,0.6);
}

